.btn {
    display: block;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    line-height: 30px;
}
.btn.btn-primary {
    color: #fff;
    background-color: #337abd;
    border: #2e6da4;
}
.btn.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border: #eea236;
}
.btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border: #d33f3a;
}